@model FilmModel

<h1>Редактировать фильм</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Title">Название:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OriginalTitle">Оригинальное название:</label>
        <input asp-for="OriginalTitle" class="form-control" />
        <span asp-validation-for="OriginalTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tagline">Слоган:</label>
        <input asp-for="Tagline" class="form-control" />
        <span asp-validation-for="Tagline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label">Дата выхода:</label>
        <input asp-for="ReleaseDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label">Рейтинг:</label>
        <input asp-for="Rating" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Budget" class="control-label">Бюджет:</label>
        <input asp-for="Budget" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MpaaRating" class="control-label">Рейтинг MPAA:</label>
        <select asp-for="MpaaRating" class="form-control">
            <option value="">-- Select Mpaa Rating --</option>
            @foreach (var rating in ViewBag.MpaaRating)
            {
                <option value="@rating">@rating</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Language.Name" class="control-label">Язык:</label>
        <select asp-for="Language.Name" class="form-control">
            <option value="">-- Select Language --</option>
            @foreach (var language in ViewBag.Languages)
            {
                <option value="@language.Name">@language.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="control-label">Продолжительность:</label>
        <input asp-for="Duration" type="time" class="form-control" />
    </div>
    <label>Актеры:</label>
    @for (int i = 0; i < ViewBag.Actors.Count; i++)
    {
        <div>
            <input type="checkbox" name="SelectedActors" value="@ViewBag.Actors[i].Id" @(Model.Actors.Any(a => a.Name == ViewBag.Actors[i].Name) ? "checked" : "") />
            <label>@ViewBag.Actors[i].Name</label>
        </div>
    }
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
