@model List<FilmModel>

<h2>Films</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="RatedFilm">Самый рейтинговый фильм</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Language</th>
            <th>Duration</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.ReleaseDate.ToShortDateString()</td>
                <td>@film.Language.Name</td>
                <td>@film.Duration.TimeOfDay</td>
                <td>@film.Rating</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@film.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@film.Id">Delete</a> |
                    <a asp-action="Details" asp-route-id="@film.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>