@model FilmModel

<h1>Подробности фильма</h1>

<div>
    <h4>Название:</h4>
    <p>@Model.Title</p>
</div>

<div>
    <h4>Оригинальное название:</h4>
    <p>@Model.OriginalTitle</p>
</div>

<div>
    <h4>Слоган:</h4>
    <p>@Model.Tagline</p>
</div>

<div>
    <h4>Дата выхода:</h4>
    <p>@Model.ReleaseDate.ToShortDateString()</p>
</div>

<div>
    <h4>Рейтинг:</h4>
    <p>@Model.Rating</p>
</div>

<div>
    <h4>Бюджет:</h4>
    <p>@Model.Budget</p>
</div>

<div>
    <h4>Рейтинг MPAA:</h4>
    <p>@Model.MpaaRating</p>
</div>

<div>
    <h4>Описание:</h4>
    <p>@Model.Description</p>
</div>

<div>
    <h4>Язык:</h4>
    <p>@Model.Language.Name</p>
</div>

<div>
    <h4>Продолжительность:</h4>
    <p>@Model.Duration.TimeOfDay</p>
</div>

<div>
    <h4>Актеры:</h4>
    <ul>
        @foreach (var actor in Model.Actors)
        {
            <li>@actor.Name</li>
        }
    </ul>
</div>

<div>
    <h4>Жанры:</h4>
    <ul>
        @foreach (var genre in Model.Genres)
        {
            <li>@genre</li>
        }
    </ul>
</div>

<div>
    <h4>Страны:</h4>
    <ul>
        @foreach (var country in Model.Countries)
        {
            <li>@country</li>
        }
    </ul>
</div>

<div>
    <h4>Режиссеры:</h4>
    <ul>
        @foreach (var director in Model.Directors)
        {
            <li>@director</li>
        }
    </ul>
</div>

<div>
    <h4>Студии:</h4>
    <ul>
        @foreach (var company in Model.Companies)
        {
            <li>@company</li>
        }
    </ul>
</div>

<div>
    <h4>Сценаристы:</h4>
    <ul>
        @foreach (var scriptwriter in Model.Scriptwriters)
        {
            <li>@scriptwriter</li>
        }
    </ul>
</div>

<a href="/Film/Films" class="btn btn-secondary">Назад</a>