@model List<FilmModel>

<h2>Фильмы</h2>

<p>
    <a asp-action="Create">Добавить новый фильм</a>
</p>
<p>
    <a asp-action="RatedFilm">Самый рейтинговый фильм</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата выхода</th>
            <th>Язык</th>
            <th>Продолжительность</th>
            <th>Рейтинг</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.ReleaseDate.ToShortDateString()</td>
                <td>@film.Language.Name</td>
                <td>@film.Duration.TimeOfDay</td>
                <td>@film.Rating</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@film.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@film.Id">Удалить</a> |
                    <a asp-action="Details" asp-route-id="@film.Id">Подробности</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>